 {{#if resume.education.length}}
  <section id="education">
    <h2>Education</h2>
    {{#each resume.education}}
    <div class="item">

      <div class="split">
      {{#if institution}}
      <div class="institution">
        {{institution}}
      </div>
      {{/if}}

      <div class="study_date">
        {{#if startDate}}
        <span class="startDate">
          {{{date startDate}}}
        </span>
        <span class="endDate">
          - {{{date endDate}}}
        </span>
        {{/if}}
      </div>

      {{#if url}}
      <div class="work_website">
        {{{link url}}}
      </div>
      {{/if}}
      </div>

      {{#if qualification}}
      <div class="qualification">
        {{qualification}}
      </div>
      {{/if}}

      {{#if courses.length}}
      <ul class="courses">
        {{#each courses}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}

      {{#if dissertation}}
      <div class="dissertation">
        <span>Dissertation: </span>{{dissertation}}
      </div>
      {{/if}}
    </div>
    {{/each}}
  </section>
  {{/if}}